<!DOCTYPE html>
<html>
    <head>
            <script src="js/jquery-3.3.1.js"></script>
            <meta charset="utf-16"/>
            <link href="css/bootstrap.css" rel="stylesheet">
            <link href="css/bootstrap-theme.css" rel="stylesheet">
            <style>
                .container
                {
                    height: 100%;
                    width: 100%;
                }
                table
                {
                    background: white;
                    border:1px solid grey;
                    border-radius: 1em;
                    margin-left: auto;
                    margin-right: auto;
                    margin-right: 1em;
                    font-size: 1.4em;
                    padding: 1em;
                    box-shadow: 1px 1px 20px grey;
                    
                }
                td
                {
                    padding:0.5em;
                    
                }
                
                .vevo
                {
                    border-bottom:1px solid grey !important;
                }

                .edit
                {
                    height: 1.6em;
                    width: 1.6em;
                    cursor: pointer;
                }
                .del
                {
                    height: 1.6em;
                    width:1.6em;
                    margin-left: 0.5em;
                    cursor: pointer;
                }


                .fejlec
                {
                    text-transform: uppercase;
                    color: rgb(100, 103, 106);
                    font-weight: bold;
                }

                .hozzaadas
                {
                    display: flex;
                    flex-direction: row;
                }

                .input
                {
                    height: 2.6em;
                    border-radius: 0.5em;
                    border: 1px solid rgba(147, 147, 147, 0);

                    
                    padding: 0;
                    padding-left: 0.5em;
                    font-size: 1.1em;
                }
                .cim
                {
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 3em;
                    font-weight: bold;
                    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    
                    padding-bottom: 1em;
                    text-transform: uppercase;
                    color: wheat;
                }
                

                .mez
                {
                    font-size: 0.9em;
                    float: left;
                    background: #fcf3e3;
                    border-radius: 1em;
                    display: flex;
                    
                    padding: 1em;
                    flex-direction: column;
                    margin: 1em;
                    box-shadow: 1px 1px 20px 6px #b3b3b3;
                    
                }

                .mezkep
                {
                    max-height: 400px;
                    
                }
                .szoveg
                {
                    display: flex;
                    flex-direction: column;
                    
                }

                .fajta
                {
                    font-weight: bold;
                    font-size: 2em;
                    margin-bottom: 1em;
                    
                }

                
                
                
                body{
                    background: transparent !important;
                    position: relative;
                }
                .mezcontainer
                {
                   
                    margin-right: auto;
                    margin-left: auto;
                    position: relative;
                    width: 80vw;
                }

                .add-button
                {
                    float: right;
                    margin-right: 11em;
                    background: rgb(14, 126, 255);
                    color:white;
                    border-radius: 0.5em;
                    font-size: 1em;
                    padding: 0.7em;
                    width: 13em;
                    text-align: center;
                    font-weight: bold;
                    cursor:pointer;
                    
                    
                }
                .add-mez
                {
                    display: flex;
                }

                .add-button:hover
                {
                    background: rgb(31, 134, 251);
                }
                
                .saveedit
                {
                    background-color: rgb(10, 116, 63);
                    color:white;
                    border-radius: 0.4em;
                    margin:0.3em;
                    padding: 0.5em;
                    font-weight: bolder;
                    width: min-content;
                    display: none;
                    cursor: pointer;
                }
                
                .saveedit:hover
                {
                    background-color: rgb(15, 135, 75);
                }
               
                #add-new-container {
                    width: 40%;
                    height: auto;
                    margin-left: auto;
                    margin-right: auto;
                    z-index: 99999;
                    position: absolute;
                    left: 30%;
                    top:10em;
                    background: wheat;
                    border-radius: 1em;
                    box-shadow: 1px 1px 20px grey;
                    
                    
                    padding-left: 5em;
                    padding-right: 5em;
                    padding-top:1em;
                    display: none;
                    
                }


                table
                {
                    border:none !important;
                }

                .input-s
                {
                   
                        border-radius: 0.5em;
                        border: 1px solid rgba(147, 147, 147, 0);
                        padding: 0;
                        padding-left: 0.5em;
                        padding-right: 0.5em;
                        font-size: 1em;
                    
                }
                .save-button-container
                {
                    height: 2em;
                }
            </style>



    </head>
    <body>
            <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <a class="navbar-brand" href="home">Méhészet</a>
                      </div>
                      <ul class="nav navbar-nav">
                        <li ><a href="/">Eladások</a></li>
                        <li><a href="customers">Vásárlók</a></li>
                        <li  class="active"  ><a href="#">Termékek</a></li>
                      </ul>
                      <button style="float:right" onclick="window.location.href='logout'" class="btn btn-info navbar-btn">Kijelentkezés</button>
                    </div>
                  </nav>
        <div class="container">
                
            <div class="cim">Termékek</div>
            <div class="add-mez">
                    <div class="add-button">
                            Új termék hozzáadása
                        </div>
            </div>
            
            <div class="mezcontainer">
                




                 


                    <% products.forEach(function(mez){ %>

                    
                    <div class="mez">
                            <div style="margin-bottom: 1em">
                                    <div style="top:0; display: flex; flex-direction: row; float: right;">
                                            
                                        <a onclick="deledit(this)" href="/products/<%=mez.id%>/edit">
                                            <img class="edit" src="img/edit.png"/>
                                        </a>
                                            <a onclick="deledit(this)" href="/products/<%=mez.id%>/del">
                                                <img class="del" src="img/delete.png"/>
                                            </a>
                                            
                                        </div>
                            </div>
                            
                                <div style="display: flex; flex-direction: row">
                                    <div class="szoveg">
                                    <div class="fajta">
                                            <%= mez.name%>
                                </div>
                                <div class="details">
                                    <table>
                                        <tr> <td> Ár: </td> <td class="price-input input-s"><%= mez.price+" Ft" %></td></tr>
                                        <tr> <td> Tömeg: </td> <td class="mass-input input-s"><%= mez.mass+" g" %></td></tr>
                                        <tr> <td> Csomagolás ideje: </td > <td class="time-input input-s"><%= mez.time.toISOString().slice(0,10) %> </td></tr>
                                    </table>
                                </div>
                            </div>
                            
                            <div>
                                
                                <img class="mezkep" src="img/<%=mez.img %>" />
                            </div></div>
                            <div class="save-button-container">
                                <div class="saveedit"  title="Változtatások mentése" onclick="save( '<%=mez.id-1 %>' )">Mentés</div>
                            </div>
                            
                            
                        </div>    

                        <%})%>



            </div>
            
        </div> 
        </div>

        
        <div id="add-new-container">
            <form action="products/new" enctype="multipart/form-data" method="POST">
                <div class="form-group">
                    <label>Méz neve</label>
                    <input class="form-control" name="name" id="name" type="text" required />
                </div>
                
                <div class="form-group">
                        <label>Ár (Ft)</label>
                        <input class="form-control" name="price" id="price" type="number" required />
                </div>
                
                <div class="form-group">
                        <label>Tömeg (g)</label>
                        <input class="form-control" name="mass" id="mass" type="number" required />
                </div>
                <div class="form-group">
                        <label>Csomagolás ideje</label>
                        <input class="form-control" name="time" id="packing-time" type="date" required />
                </div>
                <div class="form-group">
                        <label>Kép</label>
                        <input type="file" name="image" id="image" accept="image/*" required />
                </div>
                <div class="form-group">
                        <input type="submit"  id="savenewelem" class="btn btn-primary" value="Mentés" name="Mentés" >
                        <div  id="cancel" class="btn btn-default">Mégsem</div>
                    </div>
            </form>
            
            
        </div>
        <script>

            
            $("#cancel").click(function() {
                
                $("#add-new-container").css("display","none");
            });

            $(".add-button").click(function()
            {
                $("#add-new-container").css("display","block");
            });

            function deledit(element)
            {
                $(element).css('filter','grayscale(100%)');
                
            }
        </script>
        <script src="js/bootstrap.js"></script>
        
    </body>
</html>